.user-list-position {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-btn {
    background-color: #286DB1;
    color: aliceblue;
    padding: 8px 17px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(60, 61, 55, 0.6);
}

.start-btn:hover {
    background-color: #24609b;
}

.start-btn-gray {
    background-color: #eee;
    color: #888;
    padding: 8px 17px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}

.ready-btn {
    background-color: #286DB1;
    color: aliceblue;
    padding: 8px 17px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(60, 61, 55, 0.6);
}

.cancle-btn {
    background-color: #B8001F;
    color: aliceblue;
    padding: 8px 17px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(60, 61, 55, 0.6);
}

.cancle-btn:hover {
    background-color: #B8001F;
}

.not-yet {
    background-color: rgb(156 163 175);
    color: rgb(229 231 235);
    padding: 8px 17px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}

.user-list-container {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    max-width: 28rem;
    width: 100%;
    padding: 1em 0;
}

ul {
    width: 100%;
    margin: 0 0 4rem 0;
}

ul li {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 30px;
    padding: 13px;
}

.room-code {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 7rem 0 3rem;
    font-size: 23px;
}

.room-code-copy{
    background-color: none;
    padding: 1px;
}

.room-code-copy:hover{
    background-color: #DDD;
    padding: 1px;
    border-radius: 6px;
}

.status-wait {
    margin: 0 5px;
    background-color:#F6F5F5;
    padding: 8px 10px;
    border-radius: 18px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.status-ready {
    margin: 0 5px;
    background-color:#286DB1;
    padding: 8px 10px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.user-highlight {
    font-weight: bold;
    background-color: #FFF;
    border-radius: 8px;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 3rem;
    margin: 0 2.5rem;
    justify-content: space-between;
    padding: 0.5em 0;
}

.user-none-highlight {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin: 0 2.5rem;
    justify-content: space-between;
    padding: 0.5em 0;
}