.top-nav-bar {
    @apply fixed top-0 left-0 right-0 bg-white z-10 py-4;
}

.nav-container {
    @apply
    flex
    /* bg-gray-100 */
    justify-center
    space-x-2
    md:space-x-4
    lg:space-x-6
    max-w-7xl
    mx-auto
    px-4
    ;
}

.nav-link {
    @apply
    flex
    items-center
    justify-center
    text-sm
    font-medium
    rounded-full
    transition
    duration-300 
    flex-grow
    min-w-[100px] max-w-[300px]
    px-5
    md:px-8
    lg:px-20 h-8
    shadow
    ;

}

.nav-link-active {
    @apply
    bg-black
    text-white
    ;
}

.nav-link-inactive {
    @apply bg-white text-gray-600 border border-gray-300 hover:bg-gray-100;
}