.tradeBar {
    @apply fixed bottom-0 left-0 right-0 w-full justify-center;
    /* z-index: 10; 다른 요소 위로 올리기 */
}

.tradeContainer {
    @apply flex justify-between items-center;
    @apply max-w-screen-lg mx-auto;
    padding: 1rem 1rem 2.5rem 1rem;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
}

.sellButton, .buyButton {
    @apply flex-1 text-center justify-center bg-white rounded-full text-gray-800;
    margin: 0 0.5rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.sellButton {
    @apply bg-red-500;
}

.buyButton {
    @apply bg-blue-500;
}

.tradeName {
    @apply font-normal text-white;
    padding: 0.2rem;
}

