a {
    cursor: pointer;
}

.position-back-button {
    text-align: left;
    padding: 3em 2em 1em;
    overflow: hidden;
    box-sizing: border-box;
}

.runnig-img-position {
    margin: 45px 0 0 0;
}

.position-discription {
    margin: 30px 0 0 0;
}
