.nav-main {
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-color: #fff;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0 -5px 6px 1px rgba(238,238,238, 0.9);
}

.nav-standardization{
  padding: 2.5em 1.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-blue {
  color: #24609b;
}

.icon-custom {
  width: 35px;
  height: 35px;
}

.icon-title-custom {
  font-family: 'Pretendard';
  font-weight: bold;
  font-size: 14px;
  margin: 8px 0 0 0;
}