
.modal-screen{
    background-color: white;
    border-radius: 18px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 600;
    padding: 2em 0 1.2em 0;
    /* max-width: 320px; */
    width: 50%;
}


.modal-btn{
    background-color: #24609b;
    border-radius: 13px;
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
    padding: 7px 15px;
}

.modal-button:hover {
    background-color: #24609b;
    font-family: 'Pretendard';
    font-weight: bold;
}
