* {
    font-family: 'Pretendard';
}

.signup-root {
    min-height: 100vh;
    padding: 2em 20px 4em;
    background-color: #FBFBFB;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 1px;
    color: #333;
    margin-top: 20px;
    padding: 0 0 0 8px;
    
}

.signup-form-main {
    max-width: 28rem;
    margin: 3rem 15px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-group {
    width: 100%;
    background-color: #FBFBFB ;
}

.input-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: #FBFBFB ;
}

input::placeholder {
    color: #999;
}

.gender-select {
    display: flex;
    gap: 24px;
    padding: 8px 0;
}

.gender-select label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gender-select input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.input-field {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding: 3px 25px 3px 12px;
    border: 1px solid #888;
    color: #333;
    border-radius: 15px;
    font-size: 16px;
    background-position: right 9px center;
    cursor: pointer;
    background-color: #FBFBFB;
    outline: none;
    text-align: center;
}

.submit-button {
    padding: 10px;
    background-color: #24609b;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1.5rem;
    cursor: pointer;
    box-shadow: -1px 3px 5px 1px rgba(183,183,183,0.5);
}

.input-field option {
    background-color: #FBFBFB;
    color: #333;
    font-size: 17px;
}

.submit-button:hover {
    background-color: #1b4a7a;
}

