.topNavBar {
    @apply fixed top-0 left-0 right-0 bg-white px-5;
    margin-top: 6.5rem;
}

.navContainer {
    @apply max-w-screen-lg mx-auto grid grid-cols-4;
    gap: 2.5vw;
}

.navLink {
    @apply flex items-center justify-center px-4 h-8 rounded-full bg-white text-gray-700 font-medium text-sm border border-gray-200 shadow;
    white-space: nowrap;
}

.navLink:hover {
    @apply bg-gray-100;
}

.navLinkActive {
    @apply bg-[#5189C1] text-white border-none;
    box-shadow: inset 0 2px 2px rgba(15, 8, 8, 0.2); /* active 상태 그림자 */
}

.navLinkActive:hover {
    @apply bg-[#5189C1] text-white border-none;
    box-shadow: inset 0 2px 2px rgba(15, 8, 8, 0.2); /* active 상태 그림자 */
}
